<section class="banner" id="home">
	<div class="blue-color">
		<div class="container">
			<div class="row flex-column">
				<div class="col-12">
					<h1 class="banner-title">boost up your local business</h1>
					<p class="banner-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eos maiores dolorum nesciunt molestias!</p>
				</div>
			</div>
			<form action="#" class="form-row d-flex justify-content-center">
				<div class="form-icon w-25 mr-3">
					<input type="text" class="form-control" placeholder="Full Name" id="fullName" name="fullName" required>

				</div>
				<div class="form-icon w-25 mr-3">
					<input type="email" class="form-control" placeholder="Email Adress" id="email" name="email" required>

				</div>
				<div class="form-icon w-25 mr-3">
					<input type="tel" class="form-control" placeholder="Phone Number" id="phone" name="phone" pattern="\+38\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" required>

				</div>
				<div class="w-20 btn">

					<button class="form-btn">request a quote</button>

				</div>
			</form>
			<div class="img-fluid">
						<img class="banner-img" src="img/laptop.jpg" alt="laptop">
					</div>
		</div>
	</div>
	<div class="white-color">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-8">
					<div class="img-fluid">
						<img class="banner-img" src="img/laptop.jpg" alt="laptop">
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"  disabled>
						<label class="form-check-label" for="inlineRadio1"></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2"></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
						<label class="form-check-label" for="inlineRadio3"></label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>