* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	border: 25px solid white;
}

.header {
	height: 100vh;
	background: red;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 0;
}
.header::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	opacity: .6;
	z-index: 1;
}
.header__btn {
	width: 100%;
	max-width: 200px;
	height: 50px;
	border: none;
	padding: 20px 0;
	color: blue;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	background: linear-gradient(85deg, yellow, black);
	z-index: 2;
}

.other {
	background: red;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.other .search {
	padding-top: 5rem;
	min-height: 100%;
	margin: auto;
	width: 100%;
	max-width: 300px;
}
.other .search__form {
	font-size: 0;
	margin-bottom: 5rem;
}
.other .search__form > * {
	display: inline-block;
	border: none;
	background-color: transparent;
	font-size: 7rem;
	outline: none;
	padding: 0;
	min-height: 130px;
}
.other .search__form [type="search"] {
	font-weight: bold;
	width: calc(100% - 130px);
	color: red;
}
.other .search__form [type="submit"] {
	width: 130px;
	height: 130px;
	background: linear-gradient(85deg, yellow, black);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
	cursor: pointer;
}

.footer {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: blue;
}
.footer .container {
	margin: auto;
	width: 100%;
	max-width: 1800px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer .container__1 {
	width: 50%;
	border: 1px solid red;
}
.footer .container__2 {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}
.footer .container__2 .container-img1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.footer .container__2 .container-img2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
