* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	border: 25px solid white;
}
.header {
	height: 100vh;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: black;
		opacity: .6;
		z-index: 1;
	}


	&__btn {
		width: 100%;
		max-width: 200px;
		height: 50px;
		border: none;
		padding: 20px 0;
		color: blue;
		text-transform: uppercase;
		text-align: center;
		font-size: 2rem;
		background: linear-gradient(85deg, yellow, black);
		z-index: 2;

	}
}
.other {
	background: red;
	height: 100vh;
	display: flex;

	

		.search {
	padding-top: 5rem;
	min-height: 100%;
	margin: auto;
		width: 100%;
		max-width: 300px;

	&__form {
		font-size: 0;
		margin-bottom: 5rem;

		$size: 130px;

		& > * {
			display: inline-block;
			border: none;
			background-color: transparent;
			font-size: 7rem;
			outline: none;
			padding: 0;
			min-height: $size;
		}

		[type="search"] {
			font-weight: bold;
			width: calc(100% - #{$size});
			color: red;
		}

		[type="submit"] {
			width: $size;
			height: $size;
			background: linear-gradient(85deg, yellow, black);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60%;
			cursor: pointer;
		}
	}
}
	
}
.footer {
	height: 100vh;
	display: flex;
	background: blue;

	.container {
		margin: auto;
		width: 100%;
		max-width: 1800px;
		display: flex;
		justify-content: space-between;

		&__1 {
			width: 50%;
			border: 1px solid red;
		}
		&__2 {
			width: 50%;
			display: flex;
			flex-direction: column;

			.container-img1 {
				display: flex;
				justify-content: flex-start;
			}
			.container-img2 {
				display: flex;
				justify-content: flex-end;
			}
		}
	}

}