* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  font-size: 3rem;
}

section {
	min-height: 20vh;
	border-bottom: 1px solid black;
}

@for $i from 1 through 3 {
.section-#{$i} {
	background-color: red;
}
}
$colors: (
red, blue, green, black, grey
);

@each $color in $colors {
  .#{$color} {
    background-color: #{$color};
  }
}
$z-index: (
    navbar: 1,
    content: 2
);

@function z($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

.navigation {
  @include z-index(navbar); // 1
}
