* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: sans-serif;
}
form {
	background: white;
	color: black;
	padding: 15px;
	border-radius: 10px;
	min-width: 30%;

	fieldset {
		padding: 30px;

	& > * {
		display: block;
	}
	& > *:not(label) {
		border: black solid ;
	 }
	 legend {
	 	border: none;
	 }
}
}
label {
	margin-bottom: .5rem;
}
	[id] {
		margin-bottom: 1rem;
	border-radius: 5px;
	}
[type="submit"] {
	border-radius: 5px;
	background-color: #648880;
	text-transform: uppercase;
	color: white;
	border-color: #648880;
	min-width: 50%;
	padding: 15px 0;
}

input,
select {
	padding: 5px;
}
input:not([type="submit"]),
textarea {
	width: 100%;
}
input[type="radio"] {
	width: initial;
	display: inline;
}
input[type="checkbox"] {
	opacity: 0;
}
.psevdo { 
	$size: 50px;
	height: size;
	width: size;
	display: inline-block;
	background-color: red;	

}
