*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-size: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 100vh;

    background: url('../img/mainbg.png') no-repeat;
    background-size: 100%;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.container
{
    position: absolute;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 70%;
    margin: auto;
    margin: auto;

    color: #8c9096;
    border-radius: 10px; 
    background-color: #152335;
}

.logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    padding: 25px 0 25px 25px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.logo__img
{
    margin-bottom: 60px;
}
.logo__row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 40px; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.logo__bullets
{
    margin: auto;
}
.logo__bullets .color__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.content
{
    font-size: 14px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 70px;

    color: #8c9096; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.content__title
{
    font-size: 24px;

    margin: 0;
    margin-bottom: 15px;
}
.content__text
{
    font-size: 14px;

    margin-bottom: 25px;
}
.content__table
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-bottom: 25px; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
.content__table-item
{
    display: block;

    list-style-image: url('../img/star.png');
}
.content__form
{
    font-size: 14px;

    margin-bottom: 30px; 

    color: #8c9096;
}
.content__form-section
{
    height: 30px;

    cursor: pointer;

    color: #8c9096; 
    background: #152335;
}
.content__btn
{
    height: 40px;

    cursor: pointer;

    color: #8c9096;
    border: 1px solid #8c9096; 
    background: rgba(21, 35, 53, 0);
}
