* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
@font-face {
 font-family: "Aleo";
 src: url("../fonts/aleo/aleo-regular-webfont.eot"),
        url("../fonts/aleo/aleo-regular-webfont.woff"),
        url("../fonts/aleo/aleo-regular-webfont.woff2"),
        url("../fonts/aleo/aleo-regular-webfont.ttf"),
        url("../fonts/aleo/aleo-regular-webfont.svg");
}
html, body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	font-family: 'Aleo', sans-serif;
	border: 15px solid white;
}