.history {
	transform: translateY(-76%);
	margin-bottom: -15%;

	@media screen and (max-height: 768px){
		padding: 70px 0;
		transform: translateY(0);
		margin-bottom: 0;
	}

	.img-wrapper {
		@include padding-hack(87%);
	}

	.section-title {
		text-align: left;
		margin-bottom: 15px;
	}

	&__text {
		line-height: 1.8;
		height: 170px;
		overflow: hidden;
		margin-bottom: 1rem;
	}

	.section-btn {
		@include section-button($white, $corp-green);
		font-weight: 700;
		display: block;
	}

}