* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	background-color: #F1F1F1;
	font-family: Arial sans-serif;
}
.all {
	display: inline-block;
	width: 100%;
	max-width: 1170px;
	margin: auto;
}
.search_form {
	margin: 0 auto;
	position: relative;
	width: 80%;
	padding: 30px 0;

}
.search_input {
	height: 100px;
	width: 90%;
	font-size: 100px;
	border: none;
	color: #ec5a62;
	background-color: #F1F1F1;
	outline: none;
	
}
.search_submit {
background: transparent url(../images/search.svg) no-repeat center center;
position: absolute;
	width: 100px;
	height: 100px;
	text-indent: 100px;
	overflow: hidden;
	background-size: 100%;
	border: none;
	outline: none;
}
.search_submit:hover {
	-webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* .search_input:checked {
	border: none;
} */