.banner {
	min-height: 100vh;
	color: $white;
	text-align: center;
	font-family: $main-font;
	display: flex;
	flex-direction: column;
	position: relative;
   
    .blue-color {
    	padding-top: 100px;
    	min-height: 80vh;
    	background-color: $corp-blue;
    }

    // &-img {
    // 	position: absolute;
    // 	transform: translateY(-50%);
    // }

	&-title {
     font-size: $main-title;
     font-weight: bold;
     text-transform: uppercase;
     margin-bottom: .5rem;
	}

	&-text {
      margin-bottom: 3rem;
	}
	
}
