html, body {
	min-height: 100vh;
}

body {
	
	font-size: $base-size;
	color: $text-color;
}

a {
	
	color: $text-color;
	text-decoration: none;
	@include transition(color);



	&:hover {
		text-decoration: none;		
		color: $corp-blue;
	}
}
.form-control {
	padding: 21px 0 21px 45px;
	position: relative;
 }
.form-icon {
    position: relative;
	&::after {
    	position: absolute;
    	@include font-awesome("\f406");
    	top: 0;
    	left: 0;
} 
}
.form-btn {
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	background: $main-color;
    border: none;
	border-radius: 3px;
	text-transform: uppercase;
	color: $white;
}

.btn {
	width: 20%!important;	
	display: flex;
	padding: 0;
	margin: 0;
	border: none;
}
