html, body {
	min-height: 100vh;
}

body {
	
	font-size: $base-size;
	color: $black;
}

a {
	
	color: $black;
	text-decoration: none;
	@include transition(color);



	&:hover {
		text-decoration: none;		
		color: $corp-blue;
	}
}
.form-control {
	padding: 21px 0 21px 45px;
	position: relative;
	z-index: 0;
}
span {
	position: absolute;
	top: 330px;
	right: 10px;
	color: red;
	z-index: 1;
}