.top-line {
	padding: 25px;
	width: 100%;
	font-family: $main-font;

	

	&__logo {

	}

	&__menu {
        justify-content: space-between;
        padding-left: 0;
		}

		&__item {
			list-style: none;
			
            &:last-child {
				margin-right: 0;
			}
			&.active {
			padding-left: 0;

			[class*="-line__link"] {
				background-color: $main-color;
				padding: 10px 15px;
				color: $white;
				border-radius: 3px;
			}
		}


		}

		&__link {
			text-transform: uppercase;
			color: #7B7B7B;
			font-size: 12px;
		}
	
}