@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$main-color: #FFBB42;
$bg-color: #FFC155;
$white: #ffffff;
$black: #000;
$corp-blue: #709DCA;

$base-size: 14px;
@function px_to_rem($target, $context: $base-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0rem;
}

$small-size: px_to_rem(12px);
$middle-size: $base-size;
$logo-size: px_to_rem(18px);
$form-title: px_to_rem(24px);
$section-title: px_to_rem(30px);
$main-title: px_to_rem(36px);
$main-title-home: 2.7rem;