.contacts {

	.container {
		max-width: 700px;
		margin: auto;
	}

	.row {
		display: flex;
		justify-content: space-between;
	}
    &__title {
    	font-size: 26px;
    	color: $green-color;
    	font-family: $fat-font;
    	text-align: center;
    	margin-bottom: 3rem;
    }
	&__form {

		& > * {
		display: block;
	}
	}
	&__label {
		width: 100%;
		max-width: 330px;
	}
	&__input {
		width: 100%;
	}
	&__textarea,
	[type="submit"] {
     width: 100%;
	}
}