//COLORS//
$green-color: #48bf72;
$first-screen-bg: #3c4955;
$white: #ffffff;
$black: #000000;
$first-screen-bg:#3c4955 ;
$grey: #eaeaea;
$dark-text: $first-screen-bg;


//FONTS//
$fat-font: 'Big John';
$slim-font: "Slim Joe";


//SIZE
$container-width: 1140px;