*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

body
{
    font-family: Arial, sans-serif;
    font-size: 100%;

    margin-top: 2rem;

    color: #c2c2c2;
    background-color: #f1f1f1;
}

ul > li > a
{
    text-decoration: none;

    background-color: rgba(118, 117, 128, .05);
}
ul > li > a a:hover
{
    color: #ec5a62; 
    background-color: rgba(118, 117, 128, .1);
}

::-webkit-input-placeholder
{
    color: #c2c2c2;
}

::-moz-placeholder
{
    color: #c2c2c2;
}

:-moz-placeholder
{
    color: #c2c2c2;
}

:-ms-input-placeholder
{
    color: #c2c2c2;
}

.container
{
    max-width: 1140px;
    margin: auto;
}

.search_form
{
    font-size: 0;

    display: inline-block;

    border: none;
    outline: none;
    background: transparent;
}

.form__search
{
    font-size: 7rem; 
    font-weight: bold;
}

.form_submit
{
    width: 116px;
    height: 116px;

    background-image: url(../img/search.svg);
}
